body{
	margin: 0;
	padding: 0;
	color: #868F9B;
	font-family: arial;
}
.container{
	width: 1170px;
	margin: auto;

	.flex-container{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		.col-md4{
			width: 33%;
			box-sizing: border-box;
			padding: 0 15px;
		}
	}
}

.tittle-wrapper{
		margin-bottom: 60px;

		.title{
			text-transform: capitalize;
			text-align: center;
			font-weight: 700;
			color: #10161A;
			font-size: 36px;
			margin: 0;

			&::after{
				content: "";
				width: 40px;
				height: 4px;
				display: block;
				background-color: #6195FF;
				margin: auto;
				margin-top: 20px;
			}
		}

		.title2{
			font-size: 30px;
			color: #000;
			text-transform: capitalize;
			font-weight: 700;
			margin-top: 0;

			&::after{
				content: "";
				width: 40px;
				height: 4px;
				display: block;
				background-color: #6195FF;
				margin-top: 20px;
			}
		}
	}

.section{
	padding-bottom: 120px;
	padding-top: 120px;
	position: relative;
	box-sizing: border-box;
	background-color: #FAFAFA;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
}

.section-header{
	padding-bottom: 120px;
	padding-top: 120px;
	position: relative;
	box-sizing: border-box;
}