.contact-wrapper{
	text-align: center;
	// transform: translateX(1%);

	.col-sm6{
		width: 33%;
		overflow: hidden;
		display: inline-block;

		.contact{
			margin: 15px 0px;
			text-align: center;
			padding-top: 30px;
			display: inline-block;

			i{
				font-size: 36px;
				color: #6195FF;
				margin-bottom: 20px;
			}

			h3{
				font-size: 21px;
				font-weight: 700;
				color: #000;
				text-transform: capitalize;
				margin-bottom: 20px;
			}

			p{
				margin: 0 0 10px;
			}
		}
	}
}

.contact-form{
	text-align: center;
	margin-top: 40px;
	display: inline-block;

	.input{
		width: 365px;
		height: 40px;
		margin-bottom: 20px;
		border: none;
		background: #F4F4F4;
		border-bottom: 2px solid #EEE;
		padding: 0px 10px;
		opacity: 0.5;
	}

	.coment{
		width: 750px;
		height: 40px;
		margin-bottom: 20px;
		border: none;
		background: #F4F4F4;
		border-bottom: 2px solid #EEE;
		padding: 0px 10px;
		opacity: 0.5;
	}

	.message{
		width: 750px;
		height: 80px;
		margin-bottom: 40px;
		border: none;
		background: #F4F4F4;
		border-bottom: 2px solid #EEE;
		padding: 0px 10px;
		opacity: 0.5;
	}

	.main-btn{
		text-align: center;

		a{
			padding: 20px 45px;
			border-radius: 5px;
			text-decoration: none;
			background-color: #6195FF;
			color: #fff;
			transition: .2s opacity;
		}

		&:hover{
			opacity: 0.8;
		}
	}
}
