.work{
	position: relative;
	padding: 20px;

	.img-responsive{
		width: 350px;
		height: 350px;
		padding: 20px 0;
	}

	&:hover .overlay{
		transition-delay: 0s;
		opacity: 0.8;
	}

	&:hover .work-content span{
		transform: translateY(0%);
		opacity: 1;
		transition-delay: 0s;
	}

	&:hover .work-content h3{
		opacity: 1;
		transform: translateY(0%);
		transition-delay: .1s;
	}

	.overlay{
		background: #1C1D21;
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		opacity: 0;
		transition: .2s opacity;
		transition-delay: 0.2s;
	}

	.work-content{
		position: absolute;
		left: 25px;
		right: 25px;
		top: 50%;
		text-align: center;
		-webkit-transform: translateY(-50%);

		span{
			display: block;
			text-transform: uppercase;
			opacity: 0;
			color: #6195FF;
			transform: translateY(100%);
			margin-bottom: 5px;
			transition-delay: .2s;
			transition: .2s all;
			font-size: 16px;
		}

		h3 {
			transform: translateY(100%);
			opacity: 0;
			color: #fff;
			margin-bottom: 10px;
			transition-delay: .1s;
			transition: .2s all;
		}
	}
}