.col-sm4{
	width: 30%;
	position: relative;
	min-height: 1px;
	margin-top: 20px;
	text-align: center;

	.pricing{
		position: relative;
		border: 1px solid #EEE;
		background-color: #FFF;
		z-index: 11;
		margin: 15px 0px;

		&::after{
			content: "";
			background-color: #1C1D21;
			position: absolute;
			left: 0;
			top: 0;
			height: 0%;
			width: 100%;
			z-index: -1;
			transition: .2s height;
		}

		&:hover::after{
			height: 100%;
		}

		&:hover .price-title{
			color: #6195FF ;
		}

		&:hover .price-head .prices h3{
			color: #fff;
		}

		&:hover .price-head .prices .time{
			color: #fff;
		}

		.price-head{
			margin-bottom: 20px;
			position: relative;

			.price-title{
				display: block;
				padding: 40px 0px 20px;
				text-transform: uppercase;
				transition: .2s color;
			}

			.prices{
				position: relative;
				width: 140px;
				height: 140px;
				line-height: 33px;
				text-align: center;
				margin: auto;
				border-radius: 50%;
				border: 2px solid #6195FF;

				h3{
					color: #000;
					font-size: 42px;
					margin: 0px;
					transform: translateY(-50%);
					top: 50%;
					position: absolute;
					left: 0;
					right: 0;
					transition: .2s color;
				}

				.time{
					display: block;
					font-size: 14px;
					text-transform: uppercase;
					color: #10161A;
					transition: .2s color;
				}
			}
		}

		.price-content{
			list-style: none;
			margin: 0;
			padding: 0;
		}

		.price-btn{
			padding-top: 30px;
			padding-bottom: 50px;

			a{
				background: transparent;
				color: #6195FF;
				border: 2px solid #6195FF;
				text-decoration: none;
				padding: 15px 30px;
				transition: all .5s ease-in-out;

				&:hover{
					color: #fff;
				}
			}
		}
	}
}